<%= render "application/header" %>

<div class="page user-profile--page">
	<h1><%= @user.name %>'s Profile</h1>

	<% if current_user == @user %>
		<h3>This is my page!</h3>

		<h2>Create a New Post</h2>
		<%= form_with(model: [@user, @post], local: true) do |form| %>
		  <div>
		    <%= form.label :title %><br>
		    <%= form.text_field :title %>
		  </div>
		  <div>
		    <%= form.label :body %><br>
		    <%= form.text_area :body, rows: 5 %>
		  </div>
		  <div>
		    <%= form.submit "Create Post" %>
		  </div>
		<% end %>
	<% end %>
</div>

<% if @posts.any? %>
  <h2>Your Posts</h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong><%= post.title %></strong>
        <br>
        <small>Posted by <%= post.user.name %> on <%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y") %> <% if post.updated_at > post.created_at %> (Updated on <%= post.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y at %I:%M %p") %>)<% end %></small>
        <br>

        <%= post.body %>
        <br>

        <!-- Edit button for the post -->
        <%= link_to "Edit", edit_post_path(post), class: "btn btn-edit" %>

        <!-- Delete button for the post -->
        <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-delete" %>
      </li>
      <hr>
    <% end %>
  </ul>
<% else %>
  <p>This user has no posts.</p>
<% end %>