<%# This is the homepage %>
<% if logged_in? %>
<h2>Recent Posts</h2>

<ul>
  <% Post.all.order(created_at: :desc).each do |post| %>
    <li>
      <strong><%= post.title %></strong>
      <br>
      <small>Posted by <%= post.user.name %> on <%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y") %> <% if post.updated_at > post.created_at %> (Updated on <%= post.updated_at.in_time_zone('Eastern Time (US & Canada)').strftime("%B %d, %Y at %I:%M %p") %>)<% end %></small>
      <br>
      <br>

      <p><%= post.body %></p>
      <br>
      <br>
    </li>
  <% end %>
</ul>
<% end %>