<%# This is the homepage %>
<%= render "application/header" %>

<% if logged_in? %>
<h2>Recent Posts</h2>

<ul>
  <% Post.all.order(created_at: :desc).each do |post| %>
    <li><strong><%= post.title %></strong>: <%= post.body %> by <%= post.user.name %> - <%= post.created_at.strftime("%b %d, %Y") %></li>
  <% end %>
</ul>
<% end %>