<!DOCTYPE html>
<html>
  <head>
    <title>FishDetroit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Ensure Turbo is not included in the JavaScript imports -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>FishDetroit</h1>
    </header>
    <%= render "application/header" %>
    <%= render "application/primary_banner" %>

    <%= yield %>

    <%= render "application/footer" %>
  </body>
</html>
